body {
  width: 100%;
}
body .titre {
  text-shadow: 2px 2px 2px #000;
}
body .audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body .infobulle {
  width: 30%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8156862745);
  border-radius: 25px;
  top: 20vh;
  left: 35%;
  box-shadow: 0 3px 10px 1px #252525;
}
body .infobulle button {
  width: 50%;
  min-width: 300px;
  height: 4rem;
  font-size: 1.5rem;
  box-shadow: 0 3px 10px 1px #252525;
}
body .debut {
  display: block;
  color: black;
}
body .debut h3 {
  color: black;
}
body .victory {
  display: none;
}
body .loose {
  display: none;
}
@media (max-width: 1000px) {
  body .infobulle {
    width: 100%;
    left: 0;
  }
}
body .plato {
  background-color: grey;
  border-radius: 20px;
  border: 2px outset #000;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.8470588235);
}
body .plato .trou {
  border-radius: 50%;
  background-color: #555a5f;
  width: 12%;
  border: 1px solid rgba(0, 0, 0, 0.5490196078);
  box-shadow: inset -2px -2px 7px #252525;
}
body .plato .case {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 0.2rem;
  flex-wrap: wrap;
  border: 2px solid brown;
  border-radius: 10px;
  width: 20%;
}
body .plato .case span {
  height: 35%;
  width: 35%;
  border-radius: 50%;
}
body .plato .case button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: brown;
  color: white;
  text-shadow: 1px 1px 1px rgba(34, 34, 34, 0.6431372549);
  box-shadow: 1px 1px 5px #252525;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body .plato .case p {
  color: brown;
  margin: 0;
  text-shadow: 1px 1px 1px rgba(34, 34, 34, 0.6431372549);
}
body .plato .case p + p {
  color: #fff;
  text-shadow: 1px 1px 1px #222;
}
@media (max-width: 1000px) {
  body .plato .case {
    flex-direction: row;
    align-items: center;
  }
  body .plato .case p {
    font-size: 1.2rem;
  }
}
body .buttons {
  position: fixed;
  top: 10%;
  left: 10%;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
@media (max-width: 768px) {
  body .buttons {
    position: sticky;
    bottom: 0.5rem;
    flex-direction: row;
  }
}
body .buttons .color-select {
  text-transform: uppercase;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: 2px outset #000;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.8470588235);
  margin: 0.5rem 0;
}
body .buttons .color-select:active {
  border: none;
  box-shadow: none;
}
@media (max-width: 768px) {
  body .buttons .color-select {
    margin: 0.5rem;
  }
}
body .buttons .vert {
  background-color: #17830a;
}
body .buttons .vert:active {
  background-color: #17830a;
}
body .buttons .jaune {
  background-color: #d8d20e;
}
body .buttons .jaune:active {
  background-color: #d8d20e;
}
body .buttons .bleu {
  background-color: #1f36cf;
}
body .buttons .bleu:active {
  background-color: #1f36cf;
}
body .buttons .rouge {
  background-color: #b41616;
}
body .buttons .rouge:active {
  background-color: #b41616;
}
body .buttons .noir {
  background-color: #000;
}
body .buttons .noir:active {
  background-color: #000;
}
body .buttons .blanc {
  background-color: #fff;
}
body .buttons .blanc:active {
  background-color: #fff;
}

/*# sourceMappingURL=style.css.map */
